{{- if eq .Values.database.type "postgresql" -}}
{{- if eq .Values.postgresql.enabled true -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sonarqube.name" . }}-postgres-secret
type: Opaque
data:
  postgres-password: {{ .Values.secrets.postgresPassword | b64enc }} 
---
{{- end -}}
{{- end -}}
{{- if eq .Values.database.type "mysql" -}}
{{- if eq .Values.mysql.enabled true -}}
{{- if not .Values.mysql.mysqlPasswordSecret -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "sonarqube.fullname" . }}
  labels:
    app: {{ template "sonarqube.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
type: Opaque
data:
  mysql-password: {{ .Values.mysql.mysqlPassword | b64enc | quote }}
{{- end -}}
{{- end -}}
{{- end -}}
---

{{- if .Values.sonarSecretKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sonarqube.name" . }}-encryption-secret
  namespace: sonar
spec:
  encryptedData:
    sonar-secret.txt: {{ .Values.secrets.sonarSecret }}
  template:
    metadata:
      creationTimestamp: null
      name: sonar-encryption-secret
      namespace: sonar
    type: Opaque
{{- end }}